USE [master]
GO
/****** Object:  Database [hrms_db]    Script Date: 13-06-2026 16:48:12 ******/
CREATE DATABASE [hrms_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hrms_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\hrms_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hrms_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\hrms_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hrms_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hrms_db]
GO
/****** Object:  Table [dbo].[amenities_master]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amenities_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NULL,
	[hotel_name] [varchar](max) NULL,
	[amenity_name] [varchar](200) NULL,
	[amenity_icon] [varchar](200) NULL,
	[description] [varchar](max) NULL,
	[active] [varchar](1) NULL,
	[created_by] [int] NULL,
	[created_on] [datetime2](7) NULL,
	[updated_by] [int] NULL,
	[updated_on] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_guest_details]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_guest_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[aadhaar_image_url] [nvarchar](max) NULL,
	[pan_image_url] [nvarchar](max) NULL,
	[profile_image_url] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[created_on] [nvarchar](100) NULL,
	[active] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_master]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_master](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[guest_name] [varchar](200) NULL,
	[guest_phone] [varchar](20) NULL,
	[check_in_date] [date] NULL,
	[check_out_date] [date] NULL,
	[no_of_guests] [int] NULL,
	[price_per_night] [decimal](10, 2) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[active] [varchar](1) NULL,
	[created_on] [datetime2](7) NULL,
	[updated_on] [datetime2](7) NULL,
	[user_profile_pic] [varchar](max) NULL,
	[adhar_card_pic] [varchar](max) NULL,
	[pan_card_pic] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_masters]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_masters](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[floor_id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[guest_name] [varchar](100) NULL,
	[guest_phone] [varchar](20) NULL,
	[guest_email] [varchar](100) NULL,
	[check_in_date] [date] NULL,
	[check_out_date] [date] NULL,
	[total_days] [int] NULL,
	[price_per_day] [decimal](10, 2) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[payment_status] [varchar](20) NULL,
	[user_profile_pic] [varchar](max) NULL,
	[adhar_card_pic] [varchar](max) NULL,
	[created_on] [datetime] NULL,
	[updated_on] [datetime] NULL,
	[active] [varchar](max) NULL,
	[pan_card_pic] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking_other_guests]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking_other_guests](
	[other_guest_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[room_id] [int] NULL,
	[primary_guest_name] [varchar](100) NULL,
	[guest_name] [varchar](100) NOT NULL,
	[guest_phone] [varchar](20) NULL,
	[guest_email] [varchar](100) NULL,
	[relation] [varchar](50) NULL,
	[age] [int] NULL,
	[gender] [varchar](20) NULL,
	[profile_pic] [varchar](max) NULL,
	[adhar_card_pic] [varchar](max) NULL,
	[pan_card_pic] [varchar](max) NULL,
	[created_on] [datetime] NULL,
	[check_in_date] [date] NULL,
	[check_out_date] [date] NULL,
	[total_days] [int] NULL,
	[status] [varchar](20) NULL,
	[payment_status] [varchar](20) NULL,
	[price_per_day] [decimal](10, 2) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[active] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[other_guest_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branch]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_name] [varchar](max) NULL,
	[branch_code] [varchar](max) NULL,
	[company_name] [varchar](max) NULL,
	[email] [varchar](max) NULL,
	[address] [varchar](max) NULL,
	[city] [varchar](max) NULL,
	[pincode] [varchar](11) NULL,
	[costing_method] [varchar](max) NULL,
	[def_purchase_ac] [varchar](max) NULL,
	[def_sales_ac] [varchar](max) NULL,
	[def_branch_recv_ac] [varchar](max) NULL,
	[def_branch_desp_ac] [varchar](max) NULL,
	[active] [varchar](1) NULL,
	[created_by] [int] NULL,
	[created_on] [datetime2](0) NULL,
	[modified_by] [int] NULL,
	[modified_on] [datetime2](0) NULL,
	[disabled_by] [int] NULL,
	[disabled_on] [datetime2](0) NULL,
	[branch_id] [varchar](10) NULL,
	[company_id] [varchar](10) NULL,
	[phone] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[size_chart] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
	[active] [nvarchar](20) NULL,
	[login_req] [nvarchar](20) NULL,
	[created_on] [datetime] NULL,
	[created_by] [int] NULL,
	[modified_on] [datetime] NULL,
	[modified_by] [int] NULL,
	[disabled_by] [int] NULL,
	[disabled_on] [datetime] NULL,
	[branch_id] [int] NULL,
	[company_id] [int] NULL,
	[product_weight] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[sow] [nvarchar](20) NULL,
	[pcat_id] [bigint] NULL,
	[images] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[child_category]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[child_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[child_category] [nvarchar](255) NULL,
	[category] [nvarchar](255) NULL,
	[subcategory] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
	[active] [nvarchar](20) NULL,
	[created_by] [int] NULL,
	[created_on] [datetime] NULL,
	[modified_by] [int] NULL,
	[modified_on] [datetime] NULL,
	[disabled_by] [int] NULL,
	[disabled_on] [datetime] NULL,
	[branch_id] [int] NULL,
	[company_id] [int] NULL,
	[image] [nvarchar](255) NULL,
	[sow] [nvarchar](20) NULL,
	[subcategory_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](max) NULL,
	[contact_person] [varchar](max) NULL,
	[email_id] [varchar](max) NULL,
	[address] [varchar](max) NULL,
	[country_name] [varchar](max) NULL,
	[state_name] [varchar](max) NULL,
	[city_name] [varchar](max) NULL,
	[pincode] [varchar](max) NULL,
	[state_code] [varchar](max) NULL,
	[contact_no] [varchar](max) NULL,
	[currency_name] [varchar](max) NULL,
	[gst_no] [varchar](max) NULL,
	[website] [varchar](max) NULL,
	[vat_in] [varchar](max) NULL,
	[cin_no] [varchar](max) NULL,
	[cst] [varchar](max) NULL,
	[bank_name] [varchar](max) NULL,
	[account_no] [varchar](max) NULL,
	[account_type] [varchar](max) NULL,
	[branch_city] [varchar](max) NULL,
	[bank_address] [varchar](max) NULL,
	[swift_no] [varchar](max) NULL,
	[micr_no] [varchar](max) NULL,
	[ifsc_code] [varchar](max) NULL,
	[terms_conditions] [varchar](max) NULL,
	[active] [varchar](max) NULL,
	[created_by] [varchar](max) NULL,
	[created_on] [datetime] NULL,
	[modified_by] [varchar](max) NULL,
	[modified_on] [datetime] NULL,
	[deleted_by] [varchar](max) NULL,
	[deleted_on] [datetime] NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_banks]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_banks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[bank_name] [varchar](max) NULL,
	[account_no] [varchar](max) NULL,
	[account_type] [varchar](max) NULL,
	[branch_city] [varchar](max) NULL,
	[bank_address] [varchar](max) NULL,
	[swift_no] [varchar](max) NULL,
	[micr_no] [varchar](max) NULL,
	[ifsc_code] [varchar](max) NULL,
	[active] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[floor_master]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[floor_master](
	[floor_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[floor_name] [varchar](100) NULL,
	[floor_number] [int] NULL,
	[active] [varchar](1) NULL,
	[created_on] [datetime2](7) NULL,
	[updated_on] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[floor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_order]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_order](
	[order_detail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[room_id] [int] NULL,
	[room_no] [nvarchar](20) NULL,
	[customer_name] [nvarchar](100) NULL,
	[pcat_id] [bigint] NULL,
	[primary_category_name] [nvarchar](255) NULL,
	[category_id] [bigint] NULL,
	[category_name] [nvarchar](255) NULL,
	[subcategory_id] [bigint] NULL,
	[subcategory_name] [nvarchar](255) NULL,
	[product_id] [bigint] NULL,
	[product_name] [nvarchar](255) NULL,
	[product_image] [nvarchar](50) NULL,
	[qty] [nvarchar](50) NULL,
	[price] [nvarchar](50) NULL,
	[gst] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
	[order_date] [datetime] NULL,
	[order_status] [nvarchar](50) NULL,
	[total_amount] [nvarchar](50) NULL,
	[gst_amount] [nvarchar](50) NULL,
	[grand_total] [nvarchar](50) NULL,
	[remarks] [nvarchar](500) NULL,
	[created_on] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
	[modified_on] [datetime] NULL,
	[modified_by] [nvarchar](50) NULL,
	[active] [nvarchar](1) NULL,
	[floor_id] [int] NULL,
	[image] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_name] [varchar](max) NULL,
	[hotel_code] [varchar](50) NULL,
	[description] [varchar](max) NULL,
	[company_id] [varchar](50) NULL,
	[company_name] [varchar](max) NULL,
	[branch_id] [varchar](50) NULL,
	[branch_name] [varchar](max) NULL,
	[address] [varchar](max) NULL,
	[city] [varchar](max) NULL,
	[pincode] [varchar](20) NULL,
	[email] [varchar](max) NULL,
	[phone] [varchar](max) NULL,
	[gst_no] [varchar](50) NULL,
	[thumbnail_image] [varchar](max) NULL,
	[image1] [varchar](max) NULL,
	[image2] [varchar](max) NULL,
	[image3] [varchar](max) NULL,
	[image4] [varchar](max) NULL,
	[image5] [varchar](max) NULL,
	[active] [varchar](1) NULL,
	[created_by] [int] NULL,
	[created_on] [datetime2](7) NULL,
	[updated_by] [int] NULL,
	[updated_on] [datetime2](7) NULL,
	[contact_person] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotel_inventory_summary]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel_inventory_summary](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NULL,
	[hotel_name] [varchar](200) NULL,
	[total_floors] [int] NULL,
	[total_rooms] [int] NULL,
	[available_rooms] [int] NULL,
	[occupied_rooms] [int] NULL,
	[maintenance_rooms] [int] NULL,
	[blocked_rooms] [int] NULL,
	[updated_on] [datetime2](7) NULL,
	[active] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[module]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[module](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[segment] [nvarchar](100) NULL,
	[main_module] [nvarchar](100) NULL,
	[module_name] [nvarchar](100) NULL,
	[module_url] [nvarchar](100) NULL,
	[module_icon] [nvarchar](max) NULL,
	[title_alias] [nvarchar](max) NULL,
	[sort_order] [int] NOT NULL,
	[active] [nvarchar](1) NULL,
	[new_icon] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[primary_categories]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[primary_categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[primary_categories_name] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[rendering_img] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
	[active] [nvarchar](20) NULL,
	[login_req] [nvarchar](20) NULL,
	[created_on] [datetime] NULL,
	[created_by] [int] NULL,
	[modified_on] [datetime] NULL,
	[modified_by] [int] NULL,
	[disabled_by] [int] NULL,
	[disabled_on] [datetime] NULL,
	[branch_id] [int] NULL,
	[company_id] [int] NULL,
	[home_page] [nvarchar](255) NULL,
	[sow] [nvarchar](20) NULL,
	[images] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[primary_category]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[primary_category](
	[primary_category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[primary_category_name] [nvarchar](100) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[primary_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_availability]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_availability](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[available_day] [nvarchar](50) NULL,
	[start_time] [varchar](20) NULL,
	[end_time] [varchar](20) NULL,
	[created_on] [datetime] NULL,
	[active] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[pcat_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[subcategory_id] [bigint] NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[image1] [nvarchar](500) NULL,
	[image2] [nvarchar](500) NULL,
	[image3] [nvarchar](500) NULL,
	[image4] [nvarchar](500) NULL,
	[gst] [decimal](10, 2) NULL,
	[price] [decimal](18, 2) NULL,
	[active] [nvarchar](20) NULL,
	[created_on] [datetime] NULL,
	[created_by] [int] NULL,
	[modified_on] [datetime] NULL,
	[modified_by] [int] NULL,
	[disabled_on] [datetime] NULL,
	[disabled_by] [int] NULL,
	[branch_id] [int] NULL,
	[company_id] [int] NULL,
	[sow] [nvarchar](20) NULL,
	[available_for_days] [nvarchar](255) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[description] [varchar](255) NULL,
	[hotel_id] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_access]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](100) NULL,
	[segment] [nvarchar](100) NULL,
	[main_module] [nvarchar](100) NULL,
	[submodule_id] [nvarchar](100) NULL,
	[module_id] [nvarchar](100) NULL,
	[add_access] [nvarchar](50) NULL,
	[edit_access] [nvarchar](50) NULL,
	[delete_access] [nvarchar](50) NULL,
	[export_access] [nvarchar](50) NULL,
	[print_access] [nvarchar](50) NULL,
	[other_access] [nvarchar](max) NULL,
	[child_modules] [nvarchar](max) NULL,
	[active] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_master]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](max) NOT NULL,
	[active] [varchar](20) NULL,
	[created_by] [varchar](20) NULL,
	[created_on] [varchar](max) NULL,
	[modified_by] [varchar](20) NULL,
	[modified_on] [varchar](max) NULL,
	[disabled_by] [varchar](20) NULL,
	[disabled_on] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_module]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_module](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](max) NULL,
	[modules] [varchar](max) NULL,
	[submodules] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_master]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_master](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NULL,
	[hotel_name] [varchar](200) NULL,
	[room_no] [varchar](50) NULL,
	[room_type] [varchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[capacity] [int] NULL,
	[amenities] [varchar](max) NULL,
	[status] [varchar](20) NULL,
	[description] [varchar](max) NULL,
	[active] [varchar](1) NULL,
	[created_by] [int] NULL,
	[created_on] [datetime2](7) NULL,
	[updated_by] [int] NULL,
	[updated_on] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_masters]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_masters](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[floor_id] [int] NOT NULL,
	[room_no] [varchar](20) NULL,
	[room_type] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[active] [varchar](1) NULL,
	[created_on] [datetime2](7) NULL,
	[updated_on] [datetime2](7) NULL,
	[bhk] [int] NULL,
	[balcony] [int] NULL,
	[bedroom] [int] NULL,
	[kitchen] [int] NULL,
	[bathroom] [int] NULL,
	[bed_type] [varchar](20) NULL,
	[room_amenities] [varchar](max) NULL,
	[room_photo1] [varchar](max) NULL,
	[room_photo2] [varchar](max) NULL,
	[room_photo3] [varchar](max) NULL,
	[room_photo4] [varchar](max) NULL,
	[room_video_url] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_category]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_category](
	[sub_category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[primary_category_id] [int] NOT NULL,
	[sub_category_name] [nvarchar](100) NOT NULL,
	[active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sub_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subcategories]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subcategories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](255) NULL,
	[subcategory_name] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
	[active] [nvarchar](20) NULL,
	[created_by] [int] NULL,
	[created_on] [datetime] NULL,
	[modified_by] [int] NULL,
	[modified_on] [datetime] NULL,
	[disabled_by] [int] NULL,
	[disabled_on] [datetime] NULL,
	[branch_id] [int] NULL,
	[company_id] [int] NULL,
	[image] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[meta_keywords] [nvarchar](255) NULL,
	[meta_title] [nvarchar](255) NULL,
	[meta_description] [nvarchar](255) NULL,
	[sow] [nvarchar](20) NULL,
	[category_id] [bigint] NULL,
	[images] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 13-06-2026 16:48:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](max) NULL,
	[role] [nvarchar](50) NULL,
	[active] [varchar](10) NULL,
	[created_on] [datetime] NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[fullname] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[pincode] [nvarchar](20) NULL,
	[company_id] [int] NULL,
	[branch_id] [int] NULL,
	[profile_image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[amenities_master] ON 

INSERT [dbo].[amenities_master] ([id], [hotel_id], [hotel_name], [amenity_name], [amenity_icon], [description], [active], [created_by], [created_on], [updated_by], [updated_on]) VALUES (1, 2, N'Taj Hotel', N'Swimming Pool, Parks', N'pool', N'Large outdoor swimming pool', N'0', 1, CAST(N'2026-05-27T10:27:41.1400000' AS DateTime2), 1, CAST(N'2026-05-27T10:33:09.7566667' AS DateTime2))
INSERT [dbo].[amenities_master] ([id], [hotel_id], [hotel_name], [amenity_name], [amenity_icon], [description], [active], [created_by], [created_on], [updated_by], [updated_on]) VALUES (2, 3, N'Oberai Hotel', N'Swimming Pool, Parks', N'pool', N'Large outdoor swimming pool', N'1', 1, CAST(N'2026-05-27T10:33:54.4766667' AS DateTime2), NULL, NULL)
INSERT [dbo].[amenities_master] ([id], [hotel_id], [hotel_name], [amenity_name], [amenity_icon], [description], [active], [created_by], [created_on], [updated_by], [updated_on]) VALUES (3, 7, N'Gulmohar Hotel', N'WiFi,Swimming Pool,Gym,Parking,Restaurant,Bar,Air Conditioning', N'Swiming Pool', N'Luxury Hotel with five star ratings', N'0', 1, CAST(N'2026-05-27T11:02:13.1300000' AS DateTime2), 1, CAST(N'2026-05-27T11:08:22.6333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[amenities_master] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_guest_details] ON 

INSERT [dbo].[booking_guest_details] ([id], [booking_id], [full_name], [email], [phone_number], [aadhaar_image_url], [pan_image_url], [profile_image_url], [created_at], [created_on], [active]) VALUES (1, 97, NULL, N'', N'', NULL, NULL, NULL, CAST(N'2026-06-09T17:09:59.413' AS DateTime), NULL, NULL)
INSERT [dbo].[booking_guest_details] ([id], [booking_id], [full_name], [email], [phone_number], [aadhaar_image_url], [pan_image_url], [profile_image_url], [created_at], [created_on], [active]) VALUES (2, 97, NULL, N'', N'', NULL, NULL, NULL, CAST(N'2026-06-09T17:09:59.430' AS DateTime), NULL, NULL)
INSERT [dbo].[booking_guest_details] ([id], [booking_id], [full_name], [email], [phone_number], [aadhaar_image_url], [pan_image_url], [profile_image_url], [created_at], [created_on], [active]) VALUES (3, 97, NULL, N'', N'', NULL, NULL, NULL, CAST(N'2026-06-09T17:09:59.433' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[booking_guest_details] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_master] ON 

INSERT [dbo].[booking_master] ([booking_id], [hotel_id], [room_id], [guest_name], [guest_phone], [check_in_date], [check_out_date], [no_of_guests], [price_per_night], [total_amount], [status], [active], [created_on], [updated_on], [user_profile_pic], [adhar_card_pic], [pan_card_pic]) VALUES (1, 2, 2, N'Rahul Sharma', N'9876543211', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-03' AS Date), 3, CAST(4000.00 AS Decimal(10, 2)), CAST(8000.00 AS Decimal(10, 2)), N'cancelled', N'0', CAST(N'2026-05-27T13:43:57.6566667' AS DateTime2), CAST(N'2026-05-27T14:43:17.4900000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[booking_master] ([booking_id], [hotel_id], [room_id], [guest_name], [guest_phone], [check_in_date], [check_out_date], [no_of_guests], [price_per_night], [total_amount], [status], [active], [created_on], [updated_on], [user_profile_pic], [adhar_card_pic], [pan_card_pic]) VALUES (3, 3, 3, N'Rajnish Mishra', N'9876541134', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-02' AS Date), 2, CAST(1000.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), N'booked', N'1', CAST(N'2026-05-27T13:47:46.0800000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[booking_master] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_masters] ON 

SET IDENTITY_INSERT [dbo].[booking_masters] OFF
GO
SET IDENTITY_INSERT [dbo].[booking_other_guests] ON 

INSERT [dbo].[booking_other_guests] ([other_guest_id], [booking_id], [room_id], [primary_guest_name], [guest_name], [guest_phone], [guest_email], [relation], [age], [gender], [profile_pic], [adhar_card_pic], [pan_card_pic], [created_on], [check_in_date], [check_out_date], [total_days], [status], [payment_status], [price_per_day], [total_amount], [active]) VALUES (13, 38, 1, N'Rahul Sharma', N'Priya Sharma', NULL, NULL, N'Wife', 28, N'Female', NULL, NULL, NULL, CAST(N'2026-06-01T11:24:06.820' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'0')
INSERT [dbo].[booking_other_guests] ([other_guest_id], [booking_id], [room_id], [primary_guest_name], [guest_name], [guest_phone], [guest_email], [relation], [age], [gender], [profile_pic], [adhar_card_pic], [pan_card_pic], [created_on], [check_in_date], [check_out_date], [total_days], [status], [payment_status], [price_per_day], [total_amount], [active]) VALUES (14, 38, 1, N'Rahul Sharma', N'Aryan Sharma', NULL, NULL, N'Son', 5, N'Male', NULL, NULL, NULL, CAST(N'2026-06-01T11:24:06.833' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'0')
SET IDENTITY_INSERT [dbo].[booking_other_guests] OFF
GO
SET IDENTITY_INSERT [dbo].[branch] ON 

SET IDENTITY_INSERT [dbo].[branch] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [category_name], [image], [size_chart], [sort_order], [active], [login_req], [created_on], [created_by], [modified_on], [modified_by], [disabled_by], [disabled_on], [branch_id], [company_id], [product_weight], [description], [sow], [pcat_id], [images]) VALUES (1, N'Punjabi', NULL, NULL, NULL, N'1', NULL, CAST(N'2026-06-03T13:50:16.270' AS DateTime), NULL, CAST(N'2026-06-11T11:22:45.930' AS DateTime), NULL, NULL, CAST(N'2026-06-11T11:22:51.580' AS DateTime), NULL, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[categories] ([id], [category_name], [image], [size_chart], [sort_order], [active], [login_req], [created_on], [created_by], [modified_on], [modified_by], [disabled_by], [disabled_on], [branch_id], [company_id], [product_weight], [description], [sow], [pcat_id], [images]) VALUES (2, N'Marathi', N'1780546301722-download1.png', NULL, NULL, N'0', NULL, CAST(N'2026-06-03T13:50:39.553' AS DateTime), NULL, CAST(N'2026-06-04T09:41:41.740' AS DateTime), NULL, NULL, CAST(N'2026-06-03T17:31:23.777' AS DateTime), NULL, NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[categories] ([id], [category_name], [image], [size_chart], [sort_order], [active], [login_req], [created_on], [created_by], [modified_on], [modified_by], [disabled_by], [disabled_on], [branch_id], [company_id], [product_weight], [description], [sow], [pcat_id], [images]) VALUES (3, N'Marathi', N'1780546291523-download4.png', NULL, NULL, N'0', NULL, CAST(N'2026-06-03T17:31:13.707' AS DateTime), NULL, CAST(N'2026-06-04T09:41:31.577' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[companies] ON 

SET IDENTITY_INSERT [dbo].[companies] OFF
GO
SET IDENTITY_INSERT [dbo].[company_banks] ON 

INSERT [dbo].[company_banks] ([id], [company_id], [bank_name], [account_no], [account_type], [branch_city], [bank_address], [swift_no], [micr_no], [ifsc_code], [active]) VALUES (1, 8, N'HDFC', N'12345', NULL, NULL, NULL, NULL, NULL, N'HDFC0001', N'1')
INSERT [dbo].[company_banks] ([id], [company_id], [bank_name], [account_no], [account_type], [branch_city], [bank_address], [swift_no], [micr_no], [ifsc_code], [active]) VALUES (2, 8, N'ICICI', N'67890', NULL, NULL, NULL, NULL, NULL, N'ICICI0002', N'1')
INSERT [dbo].[company_banks] ([id], [company_id], [bank_name], [account_no], [account_type], [branch_city], [bank_address], [swift_no], [micr_no], [ifsc_code], [active]) VALUES (3, 9, N'HDFC', N'12345', N'Current', N'Mumbai', N'Andheri East, Mumbai', N'HDFCINBB', N'400240001', N'HDFC0001', N'1')
SET IDENTITY_INSERT [dbo].[company_banks] OFF
GO
SET IDENTITY_INSERT [dbo].[floor_master] ON 

INSERT [dbo].[floor_master] ([floor_id], [hotel_id], [floor_name], [floor_number], [active], [created_on], [updated_on]) VALUES (1, 3, N'Ground Floor', 0, N'0', CAST(N'2026-05-27T17:03:54.4500000' AS DateTime2), NULL)
INSERT [dbo].[floor_master] ([floor_id], [hotel_id], [floor_name], [floor_number], [active], [created_on], [updated_on]) VALUES (2, 2, N'Second Floors', 2, N'1', CAST(N'2026-05-27T17:04:10.0800000' AS DateTime2), CAST(N'2026-05-27T17:09:26.7400000' AS DateTime2))
INSERT [dbo].[floor_master] ([floor_id], [hotel_id], [floor_name], [floor_number], [active], [created_on], [updated_on]) VALUES (3, 3, N'Second Floor', 2, N'0', CAST(N'2026-05-27T17:04:20.7366667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[floor_master] OFF
GO
SET IDENTITY_INSERT [dbo].[food_order] ON 

SET IDENTITY_INSERT [dbo].[food_order] OFF
GO
SET IDENTITY_INSERT [dbo].[hotel] ON 

SET IDENTITY_INSERT [dbo].[hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[hotel_inventory_summary] ON 

INSERT [dbo].[hotel_inventory_summary] ([inventory_id], [hotel_id], [hotel_name], [total_floors], [total_rooms], [available_rooms], [occupied_rooms], [maintenance_rooms], [blocked_rooms], [updated_on], [active]) VALUES (1, 2, N'Taj Hotel', 5, 150, 100, 40, 5, 5, CAST(N'2026-05-28T11:11:37.2100000' AS DateTime2), N'0')
INSERT [dbo].[hotel_inventory_summary] ([inventory_id], [hotel_id], [hotel_name], [total_floors], [total_rooms], [available_rooms], [occupied_rooms], [maintenance_rooms], [blocked_rooms], [updated_on], [active]) VALUES (2, 3, N'Oberai Hotel', 0, 0, NULL, NULL, NULL, NULL, CAST(N'2026-05-28T10:47:05.6533333' AS DateTime2), N'1')
INSERT [dbo].[hotel_inventory_summary] ([inventory_id], [hotel_id], [hotel_name], [total_floors], [total_rooms], [available_rooms], [occupied_rooms], [maintenance_rooms], [blocked_rooms], [updated_on], [active]) VALUES (3, 7, N'Gulmohar Hotel', 5, 100, 50, 40, 5, 5, CAST(N'2026-05-28T11:13:12.4866667' AS DateTime2), N'0')
SET IDENTITY_INSERT [dbo].[hotel_inventory_summary] OFF
GO
SET IDENTITY_INSERT [dbo].[module] ON 

INSERT [dbo].[module] ([module_id], [segment], [main_module], [module_name], [module_url], [module_icon], [title_alias], [sort_order], [active], [new_icon]) VALUES (1, N'HRMS', N'Master', N'Companies', N'companies', N'bookmark', N'companies', 2, N'0', N'ti-menu-alt')
INSERT [dbo].[module] ([module_id], [segment], [main_module], [module_name], [module_url], [module_icon], [title_alias], [sort_order], [active], [new_icon]) VALUES (2, N'HRMS', N'Master', N'Branch', N'branch', N'bookmark', N'branch', 3, N'0', N'ti-menu-alt')
INSERT [dbo].[module] ([module_id], [segment], [main_module], [module_name], [module_url], [module_icon], [title_alias], [sort_order], [active], [new_icon]) VALUES (3, N'HRMS', N'Master', N'Users', N'users', N'bookmark', N'users', 6, N'0', N'ti-menu-alt')
SET IDENTITY_INSERT [dbo].[module] OFF
GO
SET IDENTITY_INSERT [dbo].[primary_categories] ON 

INSERT [dbo].[primary_categories] ([id], [primary_categories_name], [description], [rendering_img], [image], [sort_order], [active], [login_req], [created_on], [created_by], [modified_on], [modified_by], [disabled_by], [disabled_on], [branch_id], [company_id], [home_page], [sow], [images]) VALUES (1, N'No Veg Food', NULL, NULL, N'1781157092184-download1.png', NULL, N'0', NULL, CAST(N'2026-06-03T13:15:07.340' AS DateTime), NULL, CAST(N'2026-06-11T15:52:25.660' AS DateTime), NULL, NULL, CAST(N'2026-06-11T11:21:36.390' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[primary_categories] ([id], [primary_categories_name], [description], [rendering_img], [image], [sort_order], [active], [login_req], [created_on], [created_by], [modified_on], [modified_by], [disabled_by], [disabled_on], [branch_id], [company_id], [home_page], [sow], [images]) VALUES (2, N'non veg', NULL, NULL, N'1781173320153-download4.png', NULL, N'0', NULL, CAST(N'2026-06-03T13:15:25.420' AS DateTime), NULL, CAST(N'2026-06-11T15:52:00.180' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[primary_categories] ([id], [primary_categories_name], [description], [rendering_img], [image], [sort_order], [active], [login_req], [created_on], [created_by], [modified_on], [modified_by], [disabled_by], [disabled_on], [branch_id], [company_id], [home_page], [sow], [images]) VALUES (3, N'both', NULL, NULL, NULL, NULL, N'1', NULL, CAST(N'2026-06-03T13:16:25.387' AS DateTime), NULL, CAST(N'2026-06-03T13:17:12.787' AS DateTime), NULL, NULL, CAST(N'2026-06-03T13:25:27.897' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[primary_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[product_availability] ON 

INSERT [dbo].[product_availability] ([id], [product_id], [available_day], [start_time], [end_time], [created_on], [active]) VALUES (277, 8, N'Monday', N'09:00', N'11:00', CAST(N'2026-06-05T09:41:12.627' AS DateTime), N'0')
INSERT [dbo].[product_availability] ([id], [product_id], [available_day], [start_time], [end_time], [created_on], [active]) VALUES (278, 8, N'Monday', N'11:00', N'13:00', CAST(N'2026-06-05T09:41:12.637' AS DateTime), N'0')
INSERT [dbo].[product_availability] ([id], [product_id], [available_day], [start_time], [end_time], [created_on], [active]) VALUES (279, 8, N'Tuesday', N'11:00', N'13:00', CAST(N'2026-06-05T09:41:12.650' AS DateTime), N'0')
SET IDENTITY_INSERT [dbo].[product_availability] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[role_access] ON 

INSERT [dbo].[role_access] ([id], [role], [segment], [main_module], [submodule_id], [module_id], [add_access], [edit_access], [delete_access], [export_access], [print_access], [other_access], [child_modules], [active]) VALUES (2, N'users', N'HRMS', N'users', N'2', N'2', N'1', N'1', N'1', N'1', N'1', NULL, NULL, N'1')
INSERT [dbo].[role_access] ([id], [role], [segment], [main_module], [submodule_id], [module_id], [add_access], [edit_access], [delete_access], [export_access], [print_access], [other_access], [child_modules], [active]) VALUES (3, N'supervisor', N'HRMS', N'supervisor', N'3', N'3', N'1', N'1', N'1', N'1', N'1', NULL, NULL, N'1')
INSERT [dbo].[role_access] ([id], [role], [segment], [main_module], [submodule_id], [module_id], [add_access], [edit_access], [delete_access], [export_access], [print_access], [other_access], [child_modules], [active]) VALUES (4, N'admin', N'HRMS', N'Master', N'1', N'1', N'1', N'1', N'1', N'1', N'1', NULL, NULL, N'0')
SET IDENTITY_INSERT [dbo].[role_access] OFF
GO
SET IDENTITY_INSERT [dbo].[role_master] ON 

INSERT [dbo].[role_master] ([id], [role], [active], [created_by], [created_on], [modified_by], [modified_on], [disabled_by], [disabled_on]) VALUES (1, N'admin', N'1', N'1', N'May 27 2026  1:53AM', NULL, NULL, NULL, NULL)
INSERT [dbo].[role_master] ([id], [role], [active], [created_by], [created_on], [modified_by], [modified_on], [disabled_by], [disabled_on]) VALUES (2, N'user', N'1', N'1', N'May 27 2026  1:53AM', NULL, NULL, NULL, NULL)
INSERT [dbo].[role_master] ([id], [role], [active], [created_by], [created_on], [modified_by], [modified_on], [disabled_by], [disabled_on]) VALUES (3, N'excecutive', N'1', N'1', N'May 27 2026  1:53AM', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[role_master] OFF
GO
SET IDENTITY_INSERT [dbo].[role_module] ON 

INSERT [dbo].[role_module] ([id], [role], [modules], [submodules]) VALUES (1, N'admin', N'Master', N'1,2,3,4')
INSERT [dbo].[role_module] ([id], [role], [modules], [submodules]) VALUES (2, N'employee', N'Master', N'1,2,3,4')
INSERT [dbo].[role_module] ([id], [role], [modules], [submodules]) VALUES (3, N'supervisor', N'Master', N'1,2,3,4')
SET IDENTITY_INSERT [dbo].[role_module] OFF
GO
SET IDENTITY_INSERT [dbo].[room_master] ON 

INSERT [dbo].[room_master] ([room_id], [hotel_id], [hotel_name], [room_no], [room_type], [price], [capacity], [amenities], [status], [description], [active], [created_by], [created_on], [updated_by], [updated_on]) VALUES (1, 2, N'Taj Hotel', N'101', N'Deluxe', CAST(2500.00 AS Decimal(10, 2)), NULL, NULL, N'available', NULL, N'1', 1, CAST(N'2026-05-27T11:43:32.1500000' AS DateTime2), NULL, NULL)
INSERT [dbo].[room_master] ([room_id], [hotel_id], [hotel_name], [room_no], [room_type], [price], [capacity], [amenities], [status], [description], [active], [created_by], [created_on], [updated_by], [updated_on]) VALUES (2, 2, N'Taj Hotel', N'102', N'Super Deluxe', CAST(4500.00 AS Decimal(10, 2)), NULL, NULL, N'available', NULL, N'1', 1, CAST(N'2026-05-27T11:45:37.6866667' AS DateTime2), NULL, CAST(N'2026-05-27T14:43:17.5033333' AS DateTime2))
INSERT [dbo].[room_master] ([room_id], [hotel_id], [hotel_name], [room_no], [room_type], [price], [capacity], [amenities], [status], [description], [active], [created_by], [created_on], [updated_by], [updated_on]) VALUES (3, 2, N'Taj Hotel', N'102', N'Super Deluxe', CAST(4500.00 AS Decimal(10, 2)), 2, NULL, N'available', NULL, N'1', 1, CAST(N'2026-05-27T11:46:09.4166667' AS DateTime2), NULL, CAST(N'2026-05-27T16:02:14.0800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[room_master] OFF
GO
SET IDENTITY_INSERT [dbo].[room_masters] ON 

SET IDENTITY_INSERT [dbo].[room_masters] OFF
GO
SET IDENTITY_INSERT [dbo].[subcategories] ON 

INSERT [dbo].[subcategories] ([id], [category], [subcategory_name], [sort_order], [active], [created_by], [created_on], [modified_by], [modified_on], [disabled_by], [disabled_on], [branch_id], [company_id], [image], [description], [meta_keywords], [meta_title], [meta_description], [sow], [category_id], [images]) VALUES (1, NULL, N'Non Veg Thali', NULL, N'0', NULL, CAST(N'2026-06-03T14:09:08.410' AS DateTime), NULL, CAST(N'2026-06-11T15:59:52.697' AS DateTime), NULL, CAST(N'2026-06-03T14:10:08.693' AS DateTime), NULL, NULL, N'1781173792653-download3.png', NULL, NULL, NULL, NULL, NULL, 4, NULL)
INSERT [dbo].[subcategories] ([id], [category], [subcategory_name], [sort_order], [active], [created_by], [created_on], [modified_by], [modified_on], [disabled_by], [disabled_on], [branch_id], [company_id], [image], [description], [meta_keywords], [meta_title], [meta_description], [sow], [category_id], [images]) VALUES (2, NULL, N'Chicken Thali', NULL, N'0', NULL, CAST(N'2026-06-03T14:09:48.610' AS DateTime), NULL, CAST(N'2026-06-04T09:57:38.757' AS DateTime), NULL, NULL, NULL, NULL, N'1780547258738-download.png', NULL, NULL, NULL, NULL, NULL, 2, NULL)
INSERT [dbo].[subcategories] ([id], [category], [subcategory_name], [sort_order], [active], [created_by], [created_on], [modified_by], [modified_on], [disabled_by], [disabled_on], [branch_id], [company_id], [image], [description], [meta_keywords], [meta_title], [meta_description], [sow], [category_id], [images]) VALUES (3, NULL, N'Gravy Dishesh', NULL, N'0', NULL, CAST(N'2026-06-03T14:10:04.790' AS DateTime), NULL, CAST(N'2026-06-04T09:57:27.967' AS DateTime), NULL, NULL, NULL, NULL, N'1780547247930-download1.png', NULL, NULL, NULL, NULL, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[subcategories] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [password], [role], [active], [created_on], [first_name], [last_name], [fullname], [phone], [address], [city], [pincode], [company_id], [branch_id], [profile_image]) VALUES (1, N'Admin', N'demo@ecolods.com', N'$2b$10$e.If01r.mqzMMA0ob0Ii7.3.nCSxJjGaFFABR0CR.DzvmwGnG2.QO', N'ADMIN', N'0', CAST(N'2026-05-25T13:18:58.950' AS DateTime), NULL, NULL, N'Ecolods', N'9891827412', N'Technocity Tech Park Mhape 400070', N'Navi Mumbai', N'400070', NULL, NULL, N'1780979212304-download1.png')
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [active], [created_on], [first_name], [last_name], [fullname], [phone], [address], [city], [pincode], [company_id], [branch_id], [profile_image]) VALUES (2, N'Siddhesh', N'siddhesh@gmail.com', N'123456', N'user', N'0', CAST(N'2026-05-25T18:37:18.600' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [active], [created_on], [first_name], [last_name], [fullname], [phone], [address], [city], [pincode], [company_id], [branch_id], [profile_image]) VALUES (6, NULL, N'rajesh@gmail.com', N'$2b$10$HXD/WebMbh7CEPV7lVSGt.gRyYjTyogMpo99/3fy/Mau7ImOEiczK', N'excecutive', N'0', CAST(N'2026-05-26T16:11:49.683' AS DateTime), N'Rahul', N'Saxena', N'Rahul Saxena', N'9876543222', N'Indore', N'Inodre', N'400001', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61644C4BC8C3]    Script Date: 13-06-2026 16:48:13 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[amenities_master] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[amenities_master] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[booking_guest_details] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[booking_master] ADD  DEFAULT ('booked') FOR [status]
GO
ALTER TABLE [dbo].[booking_master] ADD  DEFAULT ('1') FOR [active]
GO
ALTER TABLE [dbo].[booking_master] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[booking_masters] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[booking_other_guests] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[branch] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[branch] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[child_category] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[child_category] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[companies] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[floor_master] ADD  DEFAULT ('1') FOR [active]
GO
ALTER TABLE [dbo].[floor_master] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[food_order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[food_order] ADD  DEFAULT ('Pending') FOR [order_status]
GO
ALTER TABLE [dbo].[food_order] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[food_order] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[hotel] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT ((0)) FOR [total_floors]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT ((0)) FOR [total_rooms]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT ((0)) FOR [available_rooms]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT ((0)) FOR [occupied_rooms]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT ((0)) FOR [maintenance_rooms]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT ((0)) FOR [blocked_rooms]
GO
ALTER TABLE [dbo].[hotel_inventory_summary] ADD  DEFAULT (getdate()) FOR [updated_on]
GO
ALTER TABLE [dbo].[module] ADD  DEFAULT ('1') FOR [active]
GO
ALTER TABLE [dbo].[primary_categories] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[primary_categories] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[primary_category] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[primary_category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_availability] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[role_access] ADD  DEFAULT ('1') FOR [active]
GO
ALTER TABLE [dbo].[role_master] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[room_master] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[room_master] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[room_master] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[room_masters] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[room_masters] ADD  DEFAULT ('1') FOR [active]
GO
ALTER TABLE [dbo].[room_masters] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[sub_category] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[sub_category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subcategories] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[subcategories] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('0') FOR [active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[booking_guest_details]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking_masters] ([booking_id])
GO
ALTER TABLE [dbo].[booking_other_guests]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking_masters] ([booking_id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([pcat_id])
REFERENCES [dbo].[primary_categories] ([id])
GO
ALTER TABLE [dbo].[child_category]  WITH CHECK ADD FOREIGN KEY([subcategory_id])
REFERENCES [dbo].[subcategories] ([id])
GO
ALTER TABLE [dbo].[company_banks]  WITH CHECK ADD FOREIGN KEY([company_id])
REFERENCES [dbo].[companies] ([id])
GO
ALTER TABLE [dbo].[primary_category]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product_availability]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[sub_category]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[sub_category]  WITH CHECK ADD FOREIGN KEY([primary_category_id])
REFERENCES [dbo].[primary_category] ([primary_category_id])
GO
ALTER TABLE [dbo].[subcategories]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
USE [master]
GO
